.main-button {
  font-size: 22px;
  line-height: 26px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px #E9E9E9;
  border-radius: 12px;
  margin-top: 31px;
  padding: 8px 31px;
}

.-questionButton {
  height: 47px;
  width: 47px;
  font-size: 22px;
  border-radius: 50%;
  background: #C4C4C4;
  margin-right: 16px;
  margin-bottom: 16px;
}