body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #3586FF;
}

main {
  padding-top: 39px;
}

body,h1, h2, p {
  margin:0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border:0;
}