.UI-title {
  max-width: 503px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  color: #FF6565;
  padding: 14px 66px;
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
}